# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
backend/public
dist-ssr
*.local

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# user-app confirguration files
backend/user-app/src/*.json
# backend/user-app/src/components.json
# backend/user-app/src/properties.json
# backend/user-app/src/variables.json
# backend/user-app/src/logicNodes.json
# backend/user-app/src/logicEdges.json
