.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper .canvas {
    position: fixed;
    width: calc(100% - 50px - 1px);
    height: calc(100% - 72px - 1px);
    bottom: 0;
    right: 0;
    transform: translateY(100%); /* Start off-screen */
    animation: slide-in 0.3s ease-out forwards; /* Animation applied */
}

.functions {
    width: 200px;
}

.function {
    border: 1px solid rgb(102, 102, 102);
}


@keyframes slide-in {
    from {
        transform: translateY(100%); /* Off-screen */
    }
    to {
        transform: translateY(0); /* Final position */
    }
}