.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper .canvas {
    position: fixed;
    width: calc(100% - 50px - 1px);
    height: calc(100% - 72px - 1px);
    bottom: 0;
    right: 0;
}

.functions {
    width: 200px;
}

.function {
    border: 1px solid rgb(102, 102, 102);
}